body {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
}

.logo {
  color: #7d590e;
  font-size: xx-large;
  font-weight: 900;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  margin-left: 2rem;
}

.footer {
  border-top: 1px solid rgb(114, 114, 114);
  padding: 1em;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links > ul {
  display: flex;
}

.footer-links > ul > li {
  margin-right: 2rem;
}

.social > a > svg {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.main {
  width: 75%;
  margin: auto;
  display: flex;
  margin: 2rem 0;
}

img {
  width: 40%;
}

.stuff {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  text-align: left;
  justify-content: space-between;
}

.gold {
  color: #7d590e;
  font-size: large;
  font-weight: 600;
}

.btn {
  background-color: #433e4c;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #201e24;
}

.abt-txt {
  font-size: large;
}
