.nav-wrapper {
  width: 100%;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  color: #7d590e;
  font-size: xx-large;
  font-weight: 900;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  margin-left: 2rem;
}

.footer {
  border-top: 1px solid rgb(114, 114, 114);
  padding: 1em;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links > ul {
  display: flex;
}

.footer-links > ul > li {
  margin-right: 2rem;
}

.social > a > svg {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.main {
  padding-top: 4rem;
  padding-bottom: 3rem;
  width: 90%;
  margin: auto;
  display: flex;
}

.sidebar {
  min-width: 170px;
  max-width: 170px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  padding: 4px;
}

.sidebar > span,
hr {
  margin-top: 1rem;
}

.items {
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid-item {
  margin-bottom: 1rem;
  font-size: smaller;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 12px;
  box-shadow: 0px 1px 2px #888888;
  transition: all 150ms ease-out;
}

.grid-item:hover {
  transform: scale(1.02);
}

.item-img {
  border-radius: 10px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.item-details {
  margin-top: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: small;
  font-weight: 500;
}
.item-price {
  color: #7d590e;
}
.item-stock {
  color: green;
  font-style: italic;
}

.grid-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.grid-up > form > select {
  border-radius: 5px;
  padding: 4px 8px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filter {
  cursor: pointer;
  margin-bottom: 8px;
  font-size: medium;
}

.collapse {
  /* margin-top: 1rem; */
}

.collapsible {
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;

  font-weight: 500;
  font-size: large;
}

.active,
.collapsible:hover {
  color: black;
}

.collapsible:after {
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.form {
  display: flex;
  flex-direction: column;
}
.form > button {
  margin-top: 0.5rem;
  padding: 4px 6px;
  background-color: rgb(41, 107, 250);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  transition: all 200ms ease-in-out;
}

.form > button:hover {
  background-color: rgb(29, 77, 179);
}

.form-div {
  display: flex;
  justify-content: space-between;
}

.priceSelector {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.priceSelector > span {
  font-size: smaller;
}

.priceSelector > input {
  width: 50px;
  padding: 8px 4px;

  background-color: rgb(224, 224, 224);
  color: #000;
  border: none;
  transition: all 200ms ease-in-out;

  border-radius: 5px;
}

.priceSelector > input:hover {
  background-color: rgb(247, 247, 247);
}

.priceSelector > input:focus {
  background-color: rgb(247, 247, 247);
}
