.nav-wrapper {
  width: 100%;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  color: #7d590e;
  font-size: xx-large;
  font-weight: 900;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  margin-left: 2rem;
}

.footer {
  border-top: 1px solid rgb(114, 114, 114);
  padding: 1em;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links > ul {
  display: flex;
}

.footer-links > ul > li {
  margin-right: 2rem;
}

.social > a > svg {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.main {
  padding-top: 4rem;
  padding-bottom: 3rem;
  width: 90%;
  margin: auto;
  display: flex;
}

.sidebar {
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  padding: 4px;
}

.sidebar > span,
hr {
  margin-top: 1rem;
}

.items {
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 1px 2px #888888;
  transition: all 150ms ease-out;
}

.grid-item:hover {
  transform: scale(1.02);
}

.grid-item > img {
  border-radius: 10px;
}

.item-name {
  font-size: small;
  font-weight: 500;
}
.item-price {
  color: #7d590e;
}
.item-stock {
  color: green;
  font-style: italic;
}

.grid-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.grid-up > form > select {
  border-radius: 5px;
  padding: 4px 8px;
}
